# unused bin files
*.suo
*.ncb
*.user
*.exp
*.lib
*.obj
*.pch
*.pdb
*.idb
*.htm
*.res
*.sbr
*.aps
*.bsc
*.sbr
*.vcl

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
